<h3>Please login</h3>
<form action="/" method='POST'>
    username: <input type='text' name='username'><br>
    password: <input type='text' name='password'><br>
    <input type='submit' name='submit'>
</form>