<html>
  <head>
    <link href="style.css" rel='stylesheet', type='text/css'>
    <title><%= @title || "Sutdents Information System"%></title>
    <style type="text/css">
        .red{
            color: #970635
        }
        #first-section{
            background-color: pink;
            width:900px;
            float:left;
        }
        #second-section{
            width:200px;
            float:right;
        }
        .clear-float{
            clear:both;
        }
        .topbar-section{
            float:left;
            border-left:1px #CCCCCC solid;
            padding:13px 15px 0px 15px;
            height:27px;
        }
        .topbar-menu{
            font-weight: bold;
            font-size: 80%;
            position:relative;
            padding: 13px 12.5px 0px 12.5px;
            height: :27px;
        }
    </style>
  </head>
<body>
    <div id="second-section" class = red><h1> Students Information System</h1></div>
    <div id="first-section"><img src="image/scu2.png" width=100%></div>
    <div class = clear-float>
        <ul>
            <div class="topbar-section topbar-menu">
                <a href='/'>Home</a>  </div>
            <div class="topbar-section topbar-menu">
                <a href='/about'>About</a>  </div>
            <div class="topbar-section topbar-menu">
                <a href='/contact'>Contact</a>  </div>
            <div class="topbar-section topbar-menu">
                <a href='/students'>Students</a>  </div>
            <div class="topbar-section topbar-menu">
                <a href='/comments'>Comments</a>  </div>
            <div class="topbar-section topbar-menu">
                <a href='/Video'>Video</a>  </div>
            <div class="topbar-section topbar-menu">
                <a href='/logout'>Logout</a>  </div>
        </ul>
    </div>
    <div class = clear-float>
    </div>
    <%= yield %>
</body>
</html>
