 <!DOCTYPE html>
<html>
    <body>
        <h2>Please Add A New Student</h2>
        <form action="/students/new" method='post' >
            Firstname: <input type='string' name=student[firstname] required><br>
            Lastname: <input type='string' name=student[lastname] required><br>
            Birthday (MM/DD/YYYY): <input type='text' name=student[birthday] pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"><br>
            Address: <input type='text' name=student[address]><br>
            Student ID: <input type='text' name=student[studentid] pattern="\d+" required><br>
            <input type='submit' value='submit'>
        </form>
    </body>
</html>
